/* This selector targets all class names containing col- */
[class*= "col-"] {
    background-color: #AAAAAA;
    border: 1px solid black;
}

.header {
  position: sticky;
  top: 0;
  padding: 50px 16px;
  background: lightgreen;
  color: #f1f1f1;
}

#burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.div_home {
    position: absolute;
    top: 20px;
    right: 20px;
}

.div_home img {
    width: 80px; 
    height: auto;
}




h2{
    float: left;

}



.body_grey{
background-color:lightgray;
}



 

  #burger {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  

  #dropdownMenuButton1 {
      background-color: lightgreen;
     float: right;
      
  }
